# Data Analysis with Python using Pandas dataframe: Car Dataset

#### Objectives:

1. `(For Data Cleaning) 
Find all null values in the data set. If there is any null value in any column, then fill with the mean of that column.
`


2. `(Values Counts)
Check what are the different types of 'Make' are there in our dataset. What is the count(occurence) of each 'Make' in the data?
`


3. `(Filter)
Show all the records where 'Origin' is Asia or Europe.
`


4. `(Removing unwanted records)
Remove all the records where 'Weight' is above 4000
`


5. `(Applying function on a column, add some value)
Increase all the values of 'MPG_City' column by 3
`

In [1]:
import pandas as pd

In [2]:
cars_df = pd.read_csv("cars-data.csv")

In [3]:
cars_df

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,"$40,565","$38,203",2.4,5.0,197.0,21.0,28.0,3450.0,105.0,186.0
428,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,"$42,565","$40,083",2.3,5.0,242.0,20.0,26.0,3450.0,105.0,186.0
429,Volvo,S80 T6 4dr,Sedan,Europe,Front,"$45,210","$42,573",2.9,6.0,268.0,19.0,26.0,3653.0,110.0,190.0
430,Volvo,V40,Wagon,Europe,Front,"$26,135","$24,641",1.9,4.0,170.0,22.0,29.0,2822.0,101.0,180.0
431,Volvo,XC70,Wagon,Europe,All,"$35,145","$33,112",2.5,5.0,208.0,20.0,27.0,3823.0,109.0,186.0

### 1. (For Data Cleaning) - Find all null values in the data set. If there is any null value in any column, then fill with the mean of that column.

In [4]:
cars_df.isnull()

# if True, we have null values

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
428,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
429,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
430,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
431,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [5]:
cars_df.isnull().sum()

Make           4
Model          4
Type           4
Origin         4
DriveTrain     4
MSRP           4
Invoice        4
EngineSize     4
Cylinders      6
Horsepower     4
MPG_City       4
MPG_Highway    4
Weight         4
Wheelbase      4
Length         4
dtype: int64

In [6]:
import numpy as np
cars_df_numeric = cars_df.select_dtypes(include=np.number).columns.tolist()

In [7]:
cars_df_numeric

['EngineSize',
 'Cylinders',
 'Horsepower',
 'MPG_City',
 'MPG_Highway',
 'Weight',
 'Wheelbase',
 'Length']

#### Now fill NA values of numeric columns with the mean

In [8]:
cars_df['EngineSize'].fillna(cars_df['EngineSize'].mean(), inplace=True) #inplace=True will make your changes permanent

In [9]:
cars_df['Cylinders'].fillna(cars_df['Cylinders'].mean(), inplace=True)

In [10]:
cars_df['Horsepower'].fillna(cars_df['Horsepower'].mean(), inplace=True)

In [11]:
cars_df['MPG_City'].fillna(cars_df['MPG_City'].mean(), inplace=True)

In [12]:
cars_df['MPG_Highway'].fillna(cars_df['MPG_Highway'].mean(), inplace=True)

In [13]:
cars_df['Weight'].fillna(cars_df['Weight'].mean(), inplace=True)

In [14]:
cars_df['Wheelbase'].fillna(cars_df['Wheelbase'].mean(), inplace=True)

In [15]:
cars_df['Length'].fillna(cars_df['Length'].mean(), inplace=True)

In [16]:
cars_df.isnull().sum()

Make           4
Model          4
Type           4
Origin         4
DriveTrain     4
MSRP           4
Invoice        4
EngineSize     0
Cylinders      0
Horsepower     0
MPG_City       0
MPG_Highway    0
Weight         0
Wheelbase      0
Length         0
dtype: int64

### Extra:

#### Deciding between mean or mode for MSRP & Invoice
#### https://vitalflux.com/pandas-impute-missing-values-mean-median-mode/

In [17]:
cars_df['MSRP'].fillna(cars_df['MSRP'].mode()[0], inplace=True)

In [18]:
cars_df['Invoice'].fillna(cars_df['Invoice'].mode()[0], inplace=True)

In [19]:
cars_df.isnull().sum()

Make           4
Model          4
Type           4
Origin         4
DriveTrain     4
MSRP           0
Invoice        0
EngineSize     0
Cylinders      0
Horsepower     0
MPG_City       0
MPG_Highway    0
Weight         0
Wheelbase      0
Length         0
dtype: int64

#### Use mode for other columns as mean is only for numerical data

In [20]:
cars_df['Make'].fillna(cars_df['Make'].mode()[0], inplace=True)

In [21]:
cars_df['Model'].fillna(cars_df['Model'].mode()[0], inplace=True)

In [22]:
cars_df['Type'].fillna(cars_df['Type'].mode()[0], inplace=True)

In [23]:
cars_df['Origin'].fillna(cars_df['Origin'].mode()[0], inplace=True)

In [24]:
cars_df['DriveTrain'].fillna(cars_df['DriveTrain'].mode()[0], inplace=True)

In [25]:
cars_df.isnull().sum()

Make           0
Model          0
Type           0
Origin         0
DriveTrain     0
MSRP           0
Invoice        0
EngineSize     0
Cylinders      0
Horsepower     0
MPG_City       0
MPG_Highway    0
Weight         0
Wheelbase      0
Length         0
dtype: int64

### 2. (Values Counts) - Check what are the different types of 'Make' are there in our dataset. What is the count(occurence) of each 'Make' in the data?

In [26]:
cars_df['Make'].value_counts()

Toyota           32
Chevrolet        27
Mercedes-Benz    26
Ford             23
BMW              20
Audi             19
Honda            17
Nissan           17
Volkswagen       15
Chrysler         15
Dodge            13
Mitsubishi       13
Hyundai          12
Volvo            12
Jaguar           12
Kia              11
Subaru           11
Pontiac          11
Lexus            11
Mazda            11
Buick             9
Lincoln           9
Mercury           9
Infiniti          8
GMC               8
Suzuki            8
Cadillac          8
Saturn            8
Acura             7
Porsche           7
Saab              7
Oldsmobile        3
Land Rover        3
Jeep              3
MINI              2
Isuzu             2
Scion             2
Hummer            1
Name: Make, dtype: int64

### 3. (Filter) - Show all the records where 'Origin' is Asia or Europe.

In [27]:
cars_df[cars_df['Origin'].isin(['Asia','Europe'])]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,"$40,565","$38,203",2.4,5.0,197.0,21.0,28.0,3450.0,105.0,186.0
428,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,"$42,565","$40,083",2.3,5.0,242.0,20.0,26.0,3450.0,105.0,186.0
429,Volvo,S80 T6 4dr,Sedan,Europe,Front,"$45,210","$42,573",2.9,6.0,268.0,19.0,26.0,3653.0,110.0,190.0
430,Volvo,V40,Wagon,Europe,Front,"$26,135","$24,641",1.9,4.0,170.0,22.0,29.0,2822.0,101.0,180.0
431,Volvo,XC70,Wagon,Europe,All,"$35,145","$33,112",2.5,5.0,208.0,20.0,27.0,3823.0,109.0,186.0

### Extra:

#### Show all the car records under BMW and Ford.

In [28]:
cars_df[cars_df['Make'].isin(['BMW','Ford'])]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
26,BMW,X3 3.0i,SUV,Europe,All,"$37,000","$33,873",3.0,6.0,225.0,16.0,23.0,4023.0,110.0,180.0
27,BMW,X5 4.4i,SUV,Europe,All,"$52,195","$47,720",4.4,8.0,325.0,16.0,22.0,4824.0,111.0,184.0
28,BMW,325i 4dr,Sedan,Europe,Rear,"$28,495","$26,155",2.5,6.0,184.0,20.0,29.0,3219.0,107.0,176.0
29,BMW,325Ci 2dr,Sedan,Europe,Rear,"$30,795","$28,245",2.5,6.0,184.0,20.0,29.0,3197.0,107.0,177.0
31,BMW,325Ci convertible 2dr,Sedan,Europe,Rear,"$37,995","$34,800",2.5,6.0,184.0,19.0,27.0,3560.0,107.0,177.0
32,BMW,325xi 4dr,Sedan,Europe,All,"$30,245","$27,745",2.5,6.0,184.0,19.0,27.0,3461.0,107.0,176.0
33,BMW,330i 4dr,Sedan,Europe,Rear,"$35,495","$32,525",3.0,6.0,225.0,20.0,30.0,3285.0,107.0,176.0
34,BMW,330Ci 2dr,Sedan,Europe,Rear,"$36,995","$33,890",3.0,6.0,225.0,20.0,30.0,3285.0,107.0,176.0
35,BMW,330xi 4dr,Sedan,Europe,All,"$37,245","$34,115",3.0,6.0,225.0,20.0,29.0,3483.0,107.0,176.0
36,BMW,525i 4dr,Sedan,Europe,Rear,"$39,995","$36,620",2.5,6.0,184.0,19.0,28.0,3428.0,114.0,191.0
37,BMW,330Ci convertible 2dr,Sedan,Europe,Rear,"$44,295","$40,530",3.0,6.0,225.0,19.0,28.0,3616.0,107.0,177.0
38,BMW,530i 4dr,Sedan,Europe,Rear,"$44,995","$41,170",3.0,6.0,225.0,20.0,30.0,3472.0,114.0,191.0
40,BMW,545iA 4dr,Sedan,Europe,Rear,"$54,995","$50,270",4.4,8.0,325.0,18.0,26.0,3814.0,114.0,191.0
41,BMW,745i 4dr,Sedan,Europe,Rear,"$69,195","$63,190",4.4,8.0,325.0,18.0,26.0,4376.0,118.0,198.0
42,BMW,745Li 4dr,Sedan,Europe,Rear,"$73,195","$66,830",4.4,8.0,325.0,18.0,26.0,4464.0,123.0,204.0
43,BMW,M3 coupe 2dr,Sports,Europe,Rear,"$48,195","$44,170",3.2,6.0,333.0,16.0,24.0,3415.0,108.0,177.0
44,BMW,M3 convertible 2dr,Sports,Europe,Rear,"$56,595","$51,815",3.2,6.0,333.0,16.0,23.0,3781.0,108.0,177.0
45,BMW,Z4 convertible 2.5i 2dr,Sports,Europe,Rear,"$33,895","$31,065",2.5,6.0,184.0,20.0,28.0,2932.0,98.0,161.0
46,BMW,Z4 convertible 3.0i 2dr,Sports,Europe,Rear,"$41,045","$37,575",3.0,6.0,225.0,21.0,29.0,2998.0,98.0,161.0
47,BMW,325xi Sport,Wagon,Europe,All,"$32,845","$30,110",2.5,6.0,184.0,19.0,26.0,3594.0,107.0,176.0
120,Ford,Excursion 6.8 XLT,SUV,USA,All,"$41,475","$36,494",6.8,10.0,310.0,10.0,13.0,7190.0,137.0,227.0
121,Ford,Expedition 4.6 XLT,SUV,USA,Front,"$34,560","$30,468",4.6,8.0,232.0,15.0,19.0,5000.0,119.0,206.0
122,Ford,Explorer XLT V6,SUV,USA,All,"$29,670","$26,983",4.0,6.0,210.0,15.0,20.0,4463.0,114.0,190.0
123,Ford,Escape XLS,SUV,USA,All,"$22,515","$20,907",3.0,6.0,201.0,18.0,23.0,3346.0,103.0,173.0
124,Ford,Focus ZX3 2dr hatch,Sedan,USA,Front,"$13,270","$12,482",2.0,4.0,130.0,26.0,33.0,2612.0,103.0,168.0
125,Ford,Focus LX 4dr,Sedan,USA,Front,"$13,730","$12,906",2.0,4.0,110.0,27.0,36.0,2606.0,103.0,168.0
126,Ford,Focus SE 4dr,Sedan,USA,Front,"$15,460","$14,496",2.0,4.0,130.0,26.0,33.0,2606.0,103.0,168.0
127,Ford,Focus ZX5 5dr,Sedan,USA,Front,"$15,580","$14,607",2.0,4.0,130.0,26.0,33.0,2691.0,103.0,168.0
128,Ford,Focus SVT 2dr,Sedan,USA,Front,"$19,135","$17,878",2.0,4.0,170.0,21.0,28.0,2750.0,103.0,168.0
129,Ford,Taurus LX 4dr,Sedan,USA,Front,"$20,320","$18,881",3.0,6.0,155.0,20.0,27.0,3306.0,109.0,198.0
130,Ford,Taurus SES Duratec 4dr,Sedan,USA,Front,"$22,735","$20,857",3.0,6.0,201.0,19.0,26.0,3313.0,109.0,198.0
131,Ford,Crown Victoria 4dr,Sedan,USA,Rear,"$24,345","$22,856",4.6,8.0,224.0,17.0,25.0,4057.0,115.0,212.0
132,Ford,Crown Victoria LX 4dr,Sedan,USA,Rear,"$27,370","$25,105",4.6,8.0,224.0,17.0,25.0,4057.0,115.0,212.0
133,Ford,Crown Victoria LX Sport 4dr,Sedan,USA,Rear,"$30,315","$27,756",4.6,8.0,239.0,17.0,25.0,4057.0,115.0,212.0
134,Ford,Freestar SE,Sedan,USA,Front,"$26,930","$24,498",3.9,6.0,193.0,17.0,23.0,4275.0,121.0,201.0
135,Ford,Mustang 2dr (convertible),Sports,USA,Rear,"$18,345","$16,943",3.8,6.0,193.0,20.0,29.0,3290.0,101.0,183.0
136,Ford,Mustang GT Premium convertible 2dr,Sports,USA,Rear,"$29,380","$26,875",4.6,8.0,260.0,17.0,25.0,3347.0,101.0,183.0
137,Ford,Thunderbird Deluxe convert w/hardtop 2d,Sports,USA,Front,"$37,530","$34,483",3.9,8.0,280.0,17.0,24.0,3780.0,107.0,186.0
138,Ford,F-150 Regular Cab XL,Truck,USA,Rear,"$22,010","$19,490",4.6,8.0,231.0,15.0,19.0,4788.0,126.0,211.0
139,Ford,F-150 Supercab Lariat,Truck,USA,All,"$33,540","$29,405",5.4,8.0,300.0,14.0,18.0,5464.0,133.0,218.0
140,Ford,Ranger 2.3 XL Regular Cab,Truck,USA,Rear,"$14,385","$13,717",2.3,4.0,143.0,24.0,29.0,3028.0,111.0,188.0
141,Ford,Focus ZTW,Wagon,USA,Front,"$17,475","$16,375",2.0,4.0,130.0,26.0,33.0,2702.0,103.0,178.0
142,Ford,Taurus SE,Wagon,USA,Front,"$22,290","$20,457",3.0,6.0,155.0,19.0,26.0,3497.0,109.0,198.0

### 4. (Removing unwanted records) - Remove all the records where 'Weight' is above 4000

In [29]:
cars_df[~(cars_df['Weight'] > 4000)]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0
5,Acura,3.5 RL w/Navigation 4dr,Sedan,Asia,Front,"$46,100","$41,100",3.5,6.0,225.0,18.0,24.0,3893.0,115.0,197.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,"$40,565","$38,203",2.4,5.0,197.0,21.0,28.0,3450.0,105.0,186.0
428,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,"$42,565","$40,083",2.3,5.0,242.0,20.0,26.0,3450.0,105.0,186.0
429,Volvo,S80 T6 4dr,Sedan,Europe,Front,"$45,210","$42,573",2.9,6.0,268.0,19.0,26.0,3653.0,110.0,190.0
430,Volvo,V40,Wagon,Europe,Front,"$26,135","$24,641",1.9,4.0,170.0,22.0,29.0,2822.0,101.0,180.0
431,Volvo,XC70,Wagon,Europe,All,"$35,145","$33,112",2.5,5.0,208.0,20.0,27.0,3823.0,109.0,186.0

### 5. (Applying function on a column, add some value) - Increase all the values of 'MPG_City' column by 3

In [30]:
cars_df['MPG_city'] = cars_df['MPG_City'].apply(lambda x:x+3)

In [31]:
cars_df

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length,MPG_city
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0,20.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0,27.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0,25.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0,23.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,"$40,565","$38,203",2.4,5.0,197.0,21.0,28.0,3450.0,105.0,186.0,24.0
428,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,"$42,565","$40,083",2.3,5.0,242.0,20.0,26.0,3450.0,105.0,186.0,23.0
429,Volvo,S80 T6 4dr,Sedan,Europe,Front,"$45,210","$42,573",2.9,6.0,268.0,19.0,26.0,3653.0,110.0,190.0,22.0
430,Volvo,V40,Wagon,Europe,Front,"$26,135","$24,641",1.9,4.0,170.0,22.0,29.0,2822.0,101.0,180.0,25.0
431,Volvo,XC70,Wagon,Europe,All,"$35,145","$33,112",2.5,5.0,208.0,20.0,27.0,3823.0,109.0,186.0,23.0

In [32]:
cars_df_MPG_city_changes  = cars_df[['MPG_City', 'MPG_city']]

In [33]:
cars_df_MPG_city_changes

     MPG_City  MPG_city
0        17.0      20.0
1        24.0      27.0
2        22.0      25.0
3        20.0      23.0
4        18.0      21.0
..        ...       ...
427      21.0      24.0
428      20.0      23.0
429      19.0      22.0
430      22.0      25.0
431      20.0      23.0

[432 rows x 2 columns]